.copyright{
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
    font-weight: bold;
    background-color: #c0ae99;
}

.fa-solid{
    scale: 1.3;
}

.fa-solid:hover{
    scale: 1.6;
    transition: 0.3s;
}

.redes{
    gap: 1rem;
}